
div#bandeau {
	width:600px;
	height:50px;
	background-color:#00CCFF;
	}
div#contenu {
    float:left;
	width:600px;
	height:850px;
	background-color:#F8F9F9  ;
	}

div#menu {
    float:left;
    width:401px;
    height:850px;
    background-color:#EAEDED ;
    }
div#menuhaut {
    width:400px;
    height:425px;
    background-color:#F8F9F9 ;
    border-right: 1px solid black ;
    }
div#menubas {
    width:400px;
    height:425px;
    background-color:#F8F9F9  ;
    border-right: 1px solid black ;
    }
